.details-button {
  width: 202px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 30px;
  filter: drop-shadow(-1.294px 4.83px 12.5px rgba(189, 227, 239, 0.75));
  background-color: #fcfcfc;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  font-family: "Open Sans";
  position: absolute;
  top: 730px;
  right: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-button > span {
  margin-right: 10px;
}
