.footer-section {
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.footer-section-title {
  display: block;
  font-size: 40px;
  color: #222222;
  font-weight: 500;
  font-family: "Roboto";
  margin-top: 50px;
}

.footer-section-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 26px;
  color: #404040;
  font-weight: 600;
  font-family: "Open Sans";
  margin: 50px 0;
  padding: 10px 0;
}

.footer-section-menu-item {
  margin: 0 20px;
}

.footer-section-social-icon {
  margin: 0 20px;
}

.footer-section-copyright {
  position: absolute;
  bottom: 0;
  margin: 20px;
}
