@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

.showcase-page {
  height: 1380px;
  margin: 0 110px;
  position: relative;
  background-color: #fff;
  filter: drop-shadow(-1.294px 4.83px 25px rgba(237, 235, 253, 0.75));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
