.arrivals-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 450px;
  position: relative;
  cursor: pointer;
}

.arrivals-item:hover {
  filter: drop-shadow(-1.294px 4.83px 25px rgba(221, 223, 224, 0.75));
  background-color: #ffffff;
}

.arrivals-item-icons {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  margin-top: 25px;
}

.arrivals-item-icons > * {
  display: flex;
  align-items: center;
}

.arrivals-item-favorite {
  margin-left: 20px;
}

.arrivals-item-favorite-icon {
  filter: invert(67%) sepia(70%) saturate(4973%) hue-rotate(309deg)
    brightness(99%) contrast(98%);
}

.arrivals-item-favorite-num {
  padding-left: 5px;
}

.arrivals-item-message {
  margin-right: 20px;
}

.arrivals-item-message-icon {
  filter: invert(82%) sepia(37%) saturate(636%) hue-rotate(149deg)
    brightness(94%) contrast(96%);
}

.arrivals-item-message-num {
  padding-left: 5px;
}

.arrivals-item-img {
  width: 200px;
  height: 200px;
}

.arrivals-item-favorite-icon,
.arrivals-item-message-icon {
  cursor: pointer;
}

.arrivals-item-favorite-num,
.arrivals-item-message-num {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #bbbbbb;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}

.arrivals-item-name {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  margin: 40px 0 10px 0;
}

.arrivals-item-price {
  font-size: 25px;
  letter-spacing: 0;
  line-height: 25px;
  font-weight: 600;
  font-family: "Open Sans";
  text-align: center;
}

.add-btn {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  filter: drop-shadow(-1.294px 4.83px 12.5px rgba(240, 239, 254, 0.75));
  background-image: linear-gradient(26deg, #8b83f9 0%, #a065f4 100%);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
  font-family: "Open Sans";
  position: absolute;
  bottom: -30px;
}
