*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  /* height: 100%; */
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
